body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:bisque;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
}

li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: white;
    color: #333;
}
#contact-info {
    margin-left: 16px;
    margin-bottom: 0;
    height: 150px;
}
.content {
    margin: 0 16px;
}
img.selfie {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.contact-info h1, .contact-info h3 {
    position: relative;
    top: 8%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

#estpt {
    width: 19%;
    float: right;
    padding-left: 10px;
}

#big5 {
    width: 50%;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
}

#personal-information img {
    height: 25%;
    width: 25%;
    float: right;
    margin-left: 20px;
}

#interest-in-it img {
    float: right;
    height: 20%;
    width: 20%;
    margin-left: 20px;
    margin-bottom: 40px;
}

#ideal-job a {
    color: blue;
}
